/* unocss 使用实例 */
/* bg-[var(--el-bg-color)] */

/* 自定义 css 变量改变 element-plus 样式 */
html:root,
html.dark:root {
  --el-color-primary-light-3: rgba(var(--el-color-primary-rgb), 70%);
  --el-color-primary-light-5: rgba(var(--el-color-primary-rgb), 50%);
  --el-color-primary-light-7: rgba(var(--el-color-primary-rgb), 30%);
  --el-color-primary-light-8: rgba(var(--el-color-primary-rgb), 20%);
  --el-color-primary-light-9: rgba(var(--el-color-primary-rgb), 10%);
  --el-color-primary-dark-2: rgba(var(--el-color-primary-rgb), 50%);
}
